body {
    overflow: hidden;
    background-color:#F5F5F5 ;
}

.nav_items{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -7%;
    margin-top: 3%;
}

.nav {
    float: left;

}

.link1 {
    font-family: Arial;
    color: #ED1C24;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 84px;
    text-decoration: none;
}
.link2{
    font-family: Arial;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 84px;
    text-decoration: none;
}

.lo_go {
    margin: auto;
    width: 100.91px;
    height: 100px;
    text-align: center;
    margin-top: 0%;

}



.txt1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0px;
    font-family: Arial;
}

.txt2 {
    font-weight: 600;
    font-size: 36px;
    margin: 0px;
    font-family: Arial;
    color: #ED1C24;
}

.txt3{
    font-weight: 600;
    font-size: 13px;
    color: white;
    font-family: Arial;
    margin-top: 15px;
}



.loginBtn {
    position: absolute;
    width: 111px;
    height: 49px;
    background: #ED1C24;
    box-shadow: 5px 5px 4px #C9D4DE;
    border-radius: 30px;
    text-align: center;
    top: 120%;
}