body {

    background-color: #F5F5F5;
}

header {
    height: 500px;

}

a {
    text-decoration: none;
}

.nav_items {
    list-style: none;
    position: absolute;
    left: 205px;
    width: 86.5%;
    height: 724px;
    overflow: hidden;
    top: 0%;
}

.nav {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
    margin-left: 84px;
}

.link1:hover,
.link1:focus,
.link1:active {
    color: #ED1C24;
    text-decoration: none;
}

.link1 {
    font-family: Arial;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.link1 {
    position: relative;
    display: block;
    padding: 16px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    font-family: Arial;
    font-style: italic;
    color: #000000;
}

.link2:hover,
.link2:focus,
.link2:active {
    color: #ED1C24;
    text-decoration: none;
}

.link2 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.link2 {
    position: relative;
    display: block;
    padding: 16px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    font-family: Arial;
    font-style: italic;
    color: #ffffff;
    ;
}

.link1::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ED1C24;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.link1:active::before {
    background-color: #000;
}

.link1:hover::before,
.link1:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.link2::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ED1C24;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.link2:active::before {
    background-color: #f00d0d;
}

.link2:hover::before,
.link2:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.lo_go {
    margin: auto;
    width: 100.91px;
    height: 100px;
    text-align: center;
    margin-top: 0%;

}



.txt1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0px;
    font-family: Arial;
    font-style: italic;
}

.txt2 {
    font-weight: 600;
    font-size: 36px;
    margin: 0px;
    font-family: Arial;
    color: #ED1C24;
    font-style: italic;
}

.txt3 {
    font-weight: 600;
    font-size: 13px;
    color: white;
    font-family: Arial;
    font-style: italic;

}

.loginBtn {
    position: absolute;
    width: 111px;
    height: 49px;
    background: #ED1C24;
    border-radius: 30px;
    text-align: center;
    top: 120%;
    padding: 0;
    border: none;
    transition: box-shadow 1s;
}

.loginBtn:hover {
    box-shadow: 5px 5px 4px #C9D4DE;

}

.course_elements {
    width: 78%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.course {
    transition: box-shadow 0.7s;
    margin: 15px 84px;
    position: relative;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background: #ED1C24;
    list-style: none;
}

.course:hover {
    -webkit-box-shadow: 0px 6px 0px 0px #a80000;
    -moz-box-shadow: 0px 6px 0px 0px #a80000;
    box-shadow: 0px 6px 0px 0px #a80000;

}

.course:hover {
    transition: 0.7s;
    transform: translateY(-5px);

}

.course_OL {
    height: 325px;
    margin: 0 auto;
}

.title1 {

    top: 500px;
    text-align: center;
    font-family: Arial;
    color: #ED1C24;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;

    margin-bottom: 50px;
    margin-top: 100px;
}


.icon {
    width: 85px;

    margin: 13%;
}

.element1 {
    background: rgba(235, 235, 235, 0.5);
    box-shadow: 6px 6px 4px #c9d4de;
    border-radius: 24px;
    width: 287px;
    height: 238px;
    float: left;
    list-style: none;
    position: relative;

    margin-left: 48px;
}

.title2 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    color: #ED1C24;
    width: 267px;
    height: 51px;
    margin: 0 auto;
}


.courseTXT {
    font-size: 12px;
    width: 204px;
    height: 64px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -29px;
    line-height: 20px;
}

.team {
    border-radius: 38px;
    width: 100%;
    height: 100%;

    object-fit: contain;
}



.title3 {

    text-align: center;
    font-family: Arial;
    color: #ED1C24;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    margin-bottom: 50px;
    margin-top: 26px;
}

.aboutusTXT {
    font-size: 12px;
    text-align: left;
}

.element2 {
    list-style: none;
    height: 340px;
}

.abtDetail {
    background: #F6F6F6;
    box-shadow: 0px 4px 4px #c9d4de;
    border-radius: 30px;
    width: 399px;
    height: 251px;
    text-align: center;
    float: right;
    padding: 24px 44px;
    margin-left: 63px;
    margin-top: 28px;
}

.aboutus_elements {
    margin: 0 auto;
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.aboutus {

    width: 86%;
    height: 465px;
    overflow: hidden;
    background: rgba(235, 235, 235, 0.4);
    box-shadow: 6px 6px 4px #c9d4de;
    border-radius: 31px;
    margin: 0 auto;
    margin-top: 77px;

}

.CB_elements {
    margin: 0 auto;
    width: 44.5%;
    display: flex;
    justify-content: space-between;
    background: rgba(235, 235, 235, 0.4);
    border-radius: 30px;
    padding: 105px 315px;
    box-shadow: 6px 6px 4px #C9D4DE;
}

.element3 {
    list-style: none;


}

.icon2 {
    width: 70px;
    margin: 0px 37px
}

h3 {
    margin-top: 12px;
    font-family: Arial;
    font-style: italic;
    text-align: center;
}

h2 {
    font-family: Arial;
    font-style: italic;
    text-align: center;
    color: #FF9900;
    font-weight: 500;
}

.title4 {
    margin: 30px 0px;
    text-align: center;
    font-family: Arial;
    color: #ED1C24;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;


}

.teacher {
    width: 100%;
    border-radius: 24px;
    margin-bottom: 27px;
}

.trainer_elements {
    display: flex;
    justify-content: space-evenly;
}

.trainer {
    list-style: none;
    width: 12%;
    background: rgba(225, 225, 225, 0.4);
    box-shadow: 6px 6px 6px #c9d4de;
    border-radius: 26px;
    padding: 18px 34px;
}

.title5 {
    text-align: center;
    color: #969696;
    font-family: Arial;
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
}

.trName {
    text-align: center;
    color: #464646;
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 19px 10px;
}

.link3 {
    text-decoration: none;
    margin-left: 109px;
    font-family: Arial;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #828282;

}

.FounderImg {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    float: left;
    margin-right: 42px;
    width: 355px;
    ;
}

.founderDtil {
    margin-top: 52px;
}

.founder {
    background: rgba(225, 225, 225, 0.4);
    box-shadow: 6px 6px 4px #C9D4DE;
    border-radius: 30px;
    width: 819px;
    margin: auto;
    overflow: hidden;
    padding: 50px;
}

h5 {
    float: right;
    margin-right: 128px;
    margin-top: -20px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

h1 {
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #EE2323;
}

.newsImg {
    width: 346.52px;
    height: 184.07px;
    background: url(image.png);
    filter: drop-shadow(0px 8px 4px #C9D4DE);
    border-radius: 26px 0px 0px 26px;
    float: left;
    object-fit: cover;
}

.newsDtil {
    background: rgba(225, 225, 225, 0.4);
    box-shadow:6px 6px 2px #C9D4DE;
    border-radius: 26px 26px 26px 26px;
    width: 77%;
    height: 185.23px;

    margin-left: 70px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.newTxt {
    float: right;
    width: 50%;
    margin-top: 33px;
    margin-right: 58px;
}

.link4 {
    text-decoration: none;
    margin-right: 58px;
    font-family: Arial;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #828282;
    float: right;
}

.newElement {
    width: 94%;
    height: 500px;
    overflow: auto;
    box-shadow: 0px 6px 2px #C9D4DE;
    border-radius: 26px;
    margin: auto;
    overflow-y: scroll;
    background: rgba(225, 225, 225, 0.4);
}


.newElement::-webkit-scrollbar {
    width: 40px;
    height: 24px;
}

.newElement::-webkit-scrollbar-thumb {
    border: 9px solid#D9D9D9;
    background: #F3F3F3;
    border-radius: 30px;
    margin: 0px auto;
    height: 100px;
}

.newElement::-webkit-scrollbar-track {

    background: #D9D9D9;
    box-shadow: inset 0px 8px 4px #C9D4DE;
    border-radius: 30px;
    padding: 10px;

}

.footImg {
    width: 100.91px;
    height: 100px;
    margin: auto;
}

.footTxt1 {
    text-align: center;
}

.footele1 {
    width: 19%;
    float: left;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.footer {
    padding: 58px 0px;
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(225, 225, 225, 0.4);
}

footer a {
    text-decoration: none;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: #353535;
    float: left;
    margin-bottom: 13px;
}

footer ul {}

.footLink1 {
    float: left;
    list-style: none;
    width: 81px;
}

.footLink2 {
    float: left;
    list-style: none;
    width: 77px;
    margin-left: 92px;
}

.footLink3 {
    list-style: none;
    width: 208px;
    display: flex;
}

.title6 {
    font-family: Arial;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 38px;
    color: #F33642;
    margin-top: 50px;
}

.title7 {
    font-family: Arial;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 38px;
    color: #F33642;
    margin-top: 50px;
    text-align: center;
}
.footicon{
    width: 20px;
    height: 18px;
}
.copyRight{
    font-family: Arial;
font-style: italic;
font-weight: 700;
font-size: 13px;
    text-align: center;
    background: #C70209;
    color: white;
    padding: 20px;
}